{% extends "AdminBundle::layout.html.twig" %}

{% block title %}Page Admin{% endblock %}

{% block body %}
<div class="container-fluid main_container">
	<div class="row">
		<div class="col-md-2">
			{{ render(controller('AdminBundle:Home:numbers')) }}
		</div>
		<div class="col-md-7">
				
		</div>
		<div class="col-md-3">
			{{ render(controller('AdminBundle:Home:seriesToDelete')) }}
		</div>
	</div>
</div>
{% endblock %}