<div class="row">
	<div class="col-md-12">
		<p class="title_number">
			Les chiffres
		</p>
	</div>
</div>
<div class="row">
	<div class="col-md-12 serie_number">		
			<span>{{ nb_users }}</span> Comptes		
	</div>
</div>
<div class="row">
	<div class="col-md-12 serie_number">		
			<span>{{ nb_series }}</span> Séries		
	</div>
</div>
<div class="row">
	<div class="col-md-12 serie_number">		
			<span>{{ moy_collected_per_user }}</span> Séries/Comptes		
	</div>
</div>

