{% extends "UserBundle::layout.html.twig" %}

{% block title %}Compte créé{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-offset-4 col-md-4" id="user_container">
        <h1>Compte Créé !</h1>
        <a href="{{ path('app_library_all_serie') }}">Accédez à votre espace</a>
    </div>
</div>
{% endblock %}
