{% extends "SerieAppBundle::layout.html.twig" %}

{% block title %}Ma collection{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block body %}
<div class="container-fluid main_container dashboard">
	<div class="row row-eq-height">
		<div class="col-xs-4 col-md-2" style="background:#333344;box-shadow: 2px 1px 5px #000000;">
			<p class="title_column">
				Trier par : 
			</p>
			
			<ul class="nav nav-pills nav-stacked">
				<li class="active"><a id="sortByStatus" href="javascript:">Statut</a></li>
				<li><a id="sortByRated" href="javascript:">Notes</a></li>
				<li><a id="sortByFirstAired" href="javascript:">Année</a></li>
				<li><a id="sortByNbSeasons" href="javascript:">Nombre de saisons</a></li>
			</ul>
		</div>
		<div id="collection_tab" class="col-xs-8 col-md-10">
			{{ render(controller('SerieAppBundle:Collection:seriesSorted', {'type_sort': 'status'})) }}
		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
<script src="{{ asset('js/collection.js') }}"></script>
<script>
	sortCollection();
</script>
{% endblock %}