{% extends "UserBundle::layout.html.twig" %}

{% block title %}Connexion{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-offset-4 col-md-4" id="user_container">
        <h1>Accédez à votre compte</h1>
        {{ render(controller('FOSUserBundle:Security:login')) }}
        <a href="{{ path('app_user_register') }}">Créer un compte</a>
    </div>
</div>
{% endblock %}